<h2 class="ui center aligned header">Welcome to Message Application</h2>
<h2 class="ui center aligned icon medium header">
  <i class="circular lock blue icon"></i>
  Change your password
</h2>

<div class="ui two column centered grid">
  <div class="column">
    <%= render 'shared/errors', obj: @pass_form %>
    <%= form_with(scope: :change_password_form, url: update_password_path, method: :patch, class: "ui form", local: true) do |f| %>
      <div class="field">
        <%= f.label :old_password %>
        <%= f.password_field :old_password, placeholder: "Enter your password" %>
      </div>

      <div class="field">
        <%= f.label :new_password %>
        <%= f.password_field :password, placeholder: "Enter a new password" %>
      </div>

      <div class="field">
        <%= f.label :confirm_new_password %>
        <%= f.password_field :password_confirmation, placeholder: "Enter a new password confirmation" %>
      </div>

      <%= f.submit "Update", class: "ui button blue" %>
    <% end %>
  </div>
</div>
